@model Application.Features.WarrantyType.Query.GetById.WarrantyTypeGetByIdDto

@{
    ViewData["Title"] = "Garanti Tipi Güncelle";
}

<form method="POST" action="@Url.Action("Edit", "WarrantyType")" enctype="multipart/form-data">
    @Html.HiddenFor(x=>x.Id)
     <div class="row">
          <div class="col-md-6 form-group">
               <label>Garanti Tipi Adı</label>
            @Html.TextBoxFor(x=>x.Name, new {@class="form-control", required=true})
          </div>
     </div>

     <div class="mt-3 row">
          <div class="col-md-12">
               <button type="submit" class="btn btn-primary">Kaydet</button>
          </div>
     </div>
</form>