@model Application.Features.Users.Query.Login.UsersLoginQuery

@{
    Layout = null;
}

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="~/css/login.css" rel="stylesheet" id="bootstrap-css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="sidenav">
     <div class="login-main-text">
          <h2>HDI Sigorta<br> Recruitment Project</h2>
          <p>Berke ELMASTAŞ</p>
     </div>
</div>
<div class="main">
     <div class="col-md-6 col-sm-12">
          <div class="login-form">
               <form method="POST" action="@Url.Action("Index", "Login")">
                    <div class="form-group">
                         <label>Kullanıcı Adınız</label>
                    @Html.TextBoxFor(x=>x.Username,new { @class="form-control", required=true})
                    </div>
                    <div class="form-group">
                         <label>Şifreniz</label>
                    @Html.PasswordFor(x=>x.Password,new { @class="form-control", required=true})
                    </div>
                    <button type="submit" class="btn btn-black">Giriş Yap</button>

                @{
                    if (TempData["ErrorMessage"] != null)
                    {
                            <div class="mt-5 alert alert-danger" role="alert">
                            @TempData["ErrorMessage"]
                            </div>
                    }
                }
               </form>
          </div>
     </div>
</div>